.program_banner{
    text-align: center;
    margin-top:7rem;
}
.program_items{
    display: flex;
        list-style: none;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 48px;
}
.program-btn{
    border: none;
    background: #7a83dc;
    color: white;
    width: 143px;
    border-radius: 16px;
    height: 33px;
    padding: 5px;
}
.program-img{
    transition: transform 0.7s ease;
}
.program-img:hover{
    transform: scale(1.5);
}
.program_intro{
    width: 100%;
    font-size: 19px;
    display: flex
;
    justify-content: center;

}
.program_intro p{
    width: 56%;
}